.search-results__more-cards {
    padding: 60px 0 0;
    text-align: center;
    display: none;
}

.search-results__more-cards_visible {
    display: block;
}

@media (max-width: 768px) {
    .search-results__more-cards {
        padding: 15px 0 40px;
    }
}

@media (max-width: 500px) {
    .search-results__more-cards {
        padding: 8px 0 40px;
    }
}