.about-author__info {
    width: 54%;

}

@media (max-width: 1000px) {
    .about-author__info {
        width: 65%;
    }
}

@media (max-width: 768px) {
    .about-author__info {
        width: 62%;
    }
}

@media (max-width: 600px) {
    .about-author__info {
        width: 100%;
    }
}

