@import url(._black/header__project-name_black.css);

.header__project-name {
    font-family: 'RobotoSlabRegular', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin: 0; 
    padding: 0;
}

@media (max-width: 500px) {
    .header__project-name {
        font-size: 16px;
        line-height: 24px;
    }
}