.card__image {
    max-width: 100%;
    height: 272px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}

@media (max-width: 1000px) {
    .card__image {
        height: 200px;
        margin-bottom: 16px;
    }
}

@media (max-width: 768px) {
    .card__image {
        height: 150px;
    }
}

@media (max-width: 600px) {
    .card__image {
        height: 130px;
        margin-bottom: 10px;
    }
}

@media (max-width: 500px) {
    .card__image {
        height: 200px;
        width: 100%;
        margin-bottom: 15px;
    }
}