.search-results__text {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    max-height: 7em;
    color: #1A1B22;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}


@media (max-width: 750px) {
    .search-results__text {
        height: 4em;
        line-height: 20px;
        -webkit-line-clamp: 3;
    }
}

@media (max-width: 700px) {
    .search-results__text {
        height: 5.5em;
        font-size: 16px;
        line-height: 22px;;
    }
}

@media (max-width: 500px) {
    .search-results__text {
        height: 3em;
    }
}

@media (max-width: 320px) {
    .search-results__text {
        height: 4em;
        font-size: 16px;
        line-height: 22px;;
    }
}