.search-results__text {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1A1B22;
    margin: 0;
}

@media (max-width: 1220px) {
    .search-results__text {
        height: 4.5em;
        overflow: hidden;
    }
}

@media (max-width: 700px) {
    .search-results__text {
        height: 4em;
        line-height: 20px;
    }
}

@media (max-width: 700px) {
    .search-results__text {
        height: 5.5em;
        font-size: 16px;
        line-height: 22px;;
    }
}

@media (max-width: 320px) {
    .search-results__text {
        height: 4em;
        font-size: 16px;
        line-height: 22px;;
    }
}