.search-results__list {
    margin: 0 0 16px;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;

}

@media (max-width: 768px) {
    .search-results__list {
        grid-gap: 8px;
    }
}

@media (max-width: 750px) {
    .search-results__list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 500px) {
    .search-results__list {
        grid-template-columns: 1fr;
        grid-gap: 8px;
        margin: 0 0 8px;
    }
}

