.flickity-button {
    background: #333;
  }

.flickity-prev-next-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: black;
    color: white;
  }

  .flickity-prev-next-button:hover {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: black;
    color: white;
  }

  /* icon color */
  .flickity-button-icon {
    fill: white;
  }
  

  @media (max-width: 768px) {
    .flickity-prev-next-button {
        display: none;
    }
  }