@import url(./__date/carousel-cell__date.css);
@import url(./__info/carousel-cell__info.css);
@import url(./__photo/carousel-cell__photo.css);
@import url(./__column/carousel-cell__column.css);
@import url(./__name/carousel-cell__name.css);
@import url(./__e-mail/carousel-cell__e-mail.css);
@import url(./__message/carousel-cell__message.css);

.carousel-cell {
    cursor: url(../../../../images/Pointer.svg), pointer;
    padding: 24px;
    width: 400px;
    height: 288px;
    background: #FFFFFF;
    border-radius: 16px;
    counter-increment: carousel-cell;
    margin-right: 16px;
    box-sizing: border-box;
}

@media (max-width: 850px) {
  .carousel-cell {
    width: 336px;
    height: 242px;
    margin-right: 8px;
  }
}

@media (max-width: 400px) {
  .carousel-cell {
    width: 90%;
    height: 264px;
    margin: 0 8px;
    padding: 16px;
  }
}