.information__text {
    width: 67%;
}

@media (max-width: 1200px) {
    .information__text {
        width: 85%;
    }
}

@media (max-width: 768px) {
    .information__text {
        width: 100%;
    }
}