.search__subtitle {
    color: #FFFFFF;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin: 32px 0 0;

}

@media (max-width: 768px) {
    .search__subtitle{
        margin: 16px 0 0;
    }
}

@media (max-width: 320px) {
    .search__subtitle{
        font-size: 20px;
        line-height: 26px;
    }
}