@import url(./__line/commits__line.css);
@import url(./__github/commits__github.css);
@import url(./carousel/carousel.css);

.commits {
    width: 100%;
    background: #F5F6F7;
    padding: 72px 0 80px;
}